@import '../../css/variables';

$dimention: 36px;

.avatarContainer {
  width: $dimention;
  height: $dimention;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $light-blue;
}

.userInitial {
  color: $primary-blue;
  font: $font-regular;
}
